#loading-area {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999999999;
	background-position:center;
	background-repeat:no-repeat;
	display:flex;
	align-items:center;
	justify-content:center;
	background: #fff;
	
	&.loading-page-1{
		background-color: #fff4f4;
		
		@include respond('tab-port'){
			transform: scale(2);
		}
		@include respond('phone'){
			transform: scale(3);
		}
		
		.loading-inner{
			width: 150px;
			height: 150px;
			margin: 0 auto;
			z-index:9999999999999999;
			animation: loader 5s linear infinite;
			
			
			.loader{
				height: 2vw;
				max-height: 100%;
				width: 1vw;
				max-width: 100%;
				margin: auto;
				border-radius: 0vw 10vw 0vw 10vw;
				box-shadow: inset 0vw 0vw 0vw .1vw var(--rgba-primary-3), 0vw 0vw 1.5vw 0vw var(--rgba-primary-3);
				overflow: auto;
				position: absolute;
				background-color: var(--primary);
				
				&.one{
					transform: rotate(45deg);
					left: 0;
					right: 0;
					top: 0;
					bottom: 5.5vw;
					animation: preLoaderRotate 1s ease infinite;
				}
				&.two{
					transform: rotate(90deg);
					left: 3.5vw;
					right: 0;
					top: 0;
					bottom: 3.5vw;
					animation: preLoaderRotate 1s .125s ease infinite;
				}
				&.three{
					transform: rotate(135deg);
					left: 5.5vw;
					right: 0;
					top: 0;
					bottom: 0;
					animation: preLoaderRotate 1s .25s ease infinite;
				}
				&.four{
					transform: rotate(180deg);
					left: 3.5vw;
					right: 0;
					top: 3.5vw;
					bottom: 0;
					animation: preLoaderRotate 1s .375s ease infinite;
				}
				&.five{
					transform: rotate(225deg);
					left: 0;
					right: 0;
					top: 5.5vw;
					bottom: 0;
					animation: preLoaderRotate 1s .5s ease infinite;
				}
				&.six{
					transform: rotate(270deg);
					left: 0;
					right: 3.5vw;
					top: 3.5vw;
					bottom: 0;
					animation: preLoaderRotate 1s .625s ease infinite;
				}
				&.seven{
					transform: rotate(315deg);
					left: 0;
					right: 5.5vw;
					top: 0;
					bottom: 0;
					animation: preLoaderRotate 1s .750s ease infinite;
				}
				&.eight{
					transform: rotate(360deg);
					left: 0;
					right: 3.5vw;
					top: 0;
					bottom: 3.5vw;
					animation: preLoaderRotate 1s .875s ease infinite;
				}
			}
		}
	}
	
	&.loading-page-2{
		.loading-inner{
			width: 130px;
			height: 130px;
			margin: 0 auto;
			position: relative;
			
			.dot,
			.dot2{
				background: var(--secondary);
				border-radius: 50%;
				position: absolute;
			}			
			.dot{
				width: 18px;
				height: 18px;
				transform: translateX(-50%) translateY(-50%);
				top: 50%;
				left: 50%;
				animation: dzPreLoaderCircle1 2.5s 0s infinite both;
			}
			.dot2{
				width: 20px;
				height: 20px;
				transform: translateX(-50%) translateY(-50%);
				left: 50%;
				top: 50%;
				animation: dzPreLoaderCircle2 2.5s 0s infinite both;
			}
		}
	}
	
	&.loading-page-3{
		background: #fff;
		background-image: url(../images/pattern/bg-pattern1.png);
		background-position: top right -60px;
		background-repeat: no-repeat;
		background-size: 40%;
		
		@include respond('phone'){
			background-size: 100%;
		}
		&:after{
			content: "";
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			position: absolute;
			background-color: var(--rgba-primary-2);
		}
		.loader{
			position: absolute;
			width:120px;
			height: 120px;
			background-color: #fff;
			border-radius: 50%;
			z-index:1; 
			
			&:after, 
			&:before{
				content: "";
				top: 0;
				left: 0;
				width: 120px;
				z-index: 0;
				height: 120px;
				border-radius: 100%;
				display: block;
				position: absolute;
				background-color: #fff;
				opacity: 0.8;
				z-index: -1;
			}
			&:after {
				animation: dzWaveEffect 1.5s ease infinite;
			}
			&:before {
				animation: dzWaveEffect2 1.5s ease infinite;
			}
			img{
				width: 100px;
				min-width: 100px;
				height: 100px;
				position: absolute;
				right: 10px;
				top: 0px;
			}
		}
	}
}

@keyframes loader{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(-360deg); }
}
 
@-webkit-keyframes loading-1{
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}
@keyframes loading-1{
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}
@keyframes dzPreLoaderCircle1{
	0%,
	100%{
        box-shadow:
			0 0 0 var(--primary),
			0 0 0 var(--primary),
			0 0 0 var(--primary),
			0 0 0 var(--primary),
			0 0 0 var(--primary),
			0 0 0 var(--primary),
			0 0 0 var(--primary),
			0 0 0 var(--primary);
	}
	50%{
		transform: translateX(-50%) translateY(-50%) rotate(180deg);
	}
	25%,
	75%{
		box-shadow: 
			28px 0 0 var(--primary),
			-28px 0 0 var(--primary),
			0 28px 0 var(--primary),
			0 -28px 0 var(--primary),
			20px -20px 0 var(--primary),
			20px 20px 0 var(--primary),
			-20px -20px 0 var(--primary),
			-20px 20px 0 var(--primary);
	}
	100%{
		transform: translateX(-50%) translateY(-50%) rotate(360deg);
        box-shadow: 
			0 0 0 var(--primary),
			0 0 0 var(--primary),
			0 0 0 var(--primary),
			0 0 0 var(--primary),
			0 0 0 var(--primary),
			0 0 0 var(--primary),
			0 0 0 var(--primary),
			0 0 0 var(--primary);
	}
}
@keyframes dzPreLoaderCircle2{
	0%,
	100%{
		box-shadow:
			0 0 0 var(--secondary),
			0 0 0 var(--secondary),
			0 0 0 var(--secondary),
			0 0 0 var(--secondary),
			0 0 0 var(--secondary),
			0 0 0 var(--secondary),
			0 0 0 var(--secondary),
			0 0 0 var(--secondary);
		}
	50%{
		transform: translateX(-50%) translateY(-50%) rotate(-180deg);
	}
	25%,
	75%{
		box-shadow:
			52px 0 0 var(--secondary),
			-52px 0 0 var(--secondary),
			0 52px 0 var(--secondary),
			0 -52px 0 var(--secondary),
			38px -38px 0 var(--secondary),
			38px 38px 0 var(--secondary),
			-38px -38px 0 var(--secondary),
			-38px 38px 0 var(--secondary);
			background: transparent;
	}
	100%{
		transform: translateX(-50%) translateY(-50%) rotate(-360deg);
		box-shadow:
			0 0 0 var(--secondary),
			0 0 0 var(--secondary),
			0 0 0 var(--secondary),
			0 0 0 var(--secondary),
			0 0 0 var(--secondary),
			0 0 0 var(--secondary),
			0 0 0 var(--secondary),
			0 0 0 var(--secondary);
	}
}