.dz-card{
	&.style-2{
		border-radius: 8px;
		overflow: hidden;
		transition: all 0.8s;
		@include transitionMedium;
		box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
		
		.dz-info{
			padding: 30px 30px;
			
			@include respond('phone'){
				padding: 25px 20px;
			}
			p {
				margin-bottom:20px;
			}
			@include respond('phone'){
				.btn-wrapper{
					padding-top: 0;
				}
			}
		}
		.dz-meta{
			margin-bottom: 10px;
			ul{
				li{
					font-size: 15px;
					font-weight: 500;
					position: relative;
					margin-right: 30px;
					i{
						color: var(--secondary);
					}
					&.dz-date{	
						position:absolute;
						top:20px;
						left:-280px;
						z-index: 1;
						background-color:var(--primary);
						color: var(--theme-text-color);
						border-radius:var(--border-radius-base);
						font-size: 15px;
						font-weight: 500;
						padding:6px 15px;
						margin-right:0;
						text-transform:uppercase;
						display: block;
						@include transitionSlow;
						
						&:after{
							display:none;
						}
						@include respond('phone-land'){
							top:-390px;
							left:20px;
						}
						@include respond('phone'){
							top:-252px;
						}
					}
					&.dz-user{
						color: var(--title);
						font-weight: 500;
						
						a{
							color: var(--secondary);
						}
					}
					&.dz-comment{
						color: var(--title);				
						font-weight: 500;
					}
					&:last-child{
						margin-right: 0;
					}
					&:not(:last-child):after{
						content: "";
						height: 6px;
						width: 6px;
						position: absolute;
						right: -17px;
						top: 50%;
						border-radius: 50%;
						background-color: var(--secondary);
						transform: translate(0%, -50%);
					}
				}
				@include respond('phone'){
					li{
						margin-right: 9px;
						&:not(:last-child):after{
							display:none;
						}
					}
					
				}
			}
		}
		.dz-media{
			overflow: hidden;
			position: relative;
			&:after{
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				bottom: -100%;
				left: 0;
				background-color: var(--primary);
				opacity: 0.8;
				@include transitionSlow;
			}
			border-radius: unset;
			
			.btn{
				position: absolute;
				top: -50%;
				left: 50%;
				transform: translate(-50%, -50%);
				@include transitionSlow;
				z-index:1;
			}
		}
		@include respond('phone-land'){
			&.blog-half{
				display: block;
				.dz-media {
					max-width: 100%;
					min-width: 100%;
				}
			}
		}
	}
}