.about-privacy{
	.title{
		@include respond ('phone'){
			font-size:1.5625rem;
		}
	}
}
.sub-title-bar{
	display: flex;
    align-items: center;
    margin-bottom: 16px;
	.point{
		width: 50px;
		min-width: 50px;
		height: 50px;
		line-height: 50px;
		margin-right: 10px;
		background-color: var(--primary);
		border-radius: 50%;
		display: flex;
		color: #fff;
		font-size: 20px;
		font-weight: 600;
		align-items: center;
		justify-content: center;
		@media only screen and (max-width: 1024px){
			width: 45px;
			min-width: 45px;
			height: 45px;
			line-height: 45px;
			font-size:18px;
		}
		@include respond ('phone'){
			width: 40px;
			min-width: 40px;
			height: 40px;
			font-size: 16px;
			line-height: 40px;
		}
		
	}
	h4{
		@media only screen and (max-width: 600px){
			font-size: 20px;
		}
		@include respond ('phone'){
			font-size:1.125rem;
		}
	}
}
.privacy-info{
	.privacy-content{
		padding-left: 40px;
		padding-top: 12px;
		@include respond ('phone'){
			padding-left: 24px;
		}
		ul{
			li{
				display: flex;
				align-items: flex-start;
				i{
					@media only screen and (max-width: 600px){
						font-size:18px;
					}
				}
				.text-title{
					font-weight:500;
					color:var(--title);
				}
			}
		}
	}
}
.privacy-list{
	ul{
		background-color: #fff;
		border: 2px solid var(--primary);
		border-radius: 8px;
		padding: 0px 0 20px 0;
		li{
			@include transitionSlow;
			&.active{
				background-color: var(--primary);
				a{
					color:#fff;
					span{
						color:#fff;
					}
				}
			}
			a{
				padding: 12px 14px;
				font-size: 14px;
				color: var(--title);
				font-weight: 500;
				display:block;
				@include transitionSlow;
				
				span{
					color: var(--primary);
					@include transitionSlow;
					
					@include respond ('tab-port'){
						padding-right:5px;
					}
				}
			}
			&:hover{
				background-color: var(--primary);
				a{
					color:#fff;
					span{
						color:#fff;
					}
				}
			}
		}
	}
}

.condition-content{
	margin-bottom:40px;
}
.about-condition{
	margin-bottom:40px;
	.title{
		@include respond ('phone'){
			font-size:1.5625rem;
			line-height: 1.4;
		}
	}
}